* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

nav {
  height: 100px;
  width: 100vw;
}

.nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  margin-left: 20px;
}

.logo img {
  width: 100%;
}

.hamburger {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}

.hamburger div {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
}

.search {
  height: 20px;
  padding: 0 10px;
}

.search .fas {
  height: 100%;
}

.how-it-works {
  background-color: #ffeee5;
  padding: 20px;
}

.how-it-works h2 {
  color: #3d464e;
}

.how-it-works p {
  font-size: 14px;
  color: #5b7183;
}

.how-it-works h6 {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #ff4000;
  padding-left: 17px;
  font-size: 12px;
}

.how-it-works h6::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  height: 1px;
  width: 15px;
  background-color: #ff4000;
}

.how-it-works .play-button {
  color: #ff4000;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 17px;
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.play-button span {
  margin-right: 5px;
}

.play-button i {
  font-size: 10px;
}

/*  commercial */
.commercial {
  position: relative;
}

.commercial .image {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

.commercial .image button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #ff4000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.commercial .image img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.oval {
  position: absolute;
  border-radius: 50%;
  background-color: #ff400020;
  left: 17%;
  top: -4%;
}

.oval1 {
  width: 255px;
  height: 270px;
  transform: rotate(50deg);
}

.oval2 {
  width: 275px;
  height: 250px;
  transform: rotate(130deg);
}

.oval3 {
  width: 280px;
  height: 230px;
  transform: rotate(217deg);
}

/* 5 steps using Arpio */
.steps {
  margin-top: 40px;
  color: #3d464e;
  font-size: 26px;
}

.item {
  margin-top: 60px;
  position: relative;
  box-shadow: 0 10px 20px 0 rgb(66 102 169 / 15%);
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.item-number {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff9f6;
  border: 4px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4000;
  font-size: 30px;
  top: -34px;
  left: 20px;
}
