* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

.message-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #ff4000;
  border: 1px solid #ff4000;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}

nav {
  height: 100px;
  width: 100vw;
}

.nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  margin-left: 20px;
}

.logo img {
  width: 100%;
}

.hamburger {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}

.hamburger div {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
}

.search {
  height: 20px;
  padding: 0 10px;
}

.search .fas {
  height: 100%;
}

.banner {
  position: relative;
  height: 300px;
  width: 100vw;
  color: #fff;
}

.banner-content {
  height: 100%;
  padding: 30px 15px;
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.banner-shadow {
  position: absolute;
  left: 0;
  bottom: 5px;
  max-width: 100%;
  width: 100%;
  height: 40px;
}

.banner h1 {
  margin: 0;
  font-size: 28px;
}

.banner p {
  font-size: 20px;
}

.banner .red-title {
  color: #ff4000;
  display: block;
}

.banner .red-title sup {
  font-size: 12px;
}

.button {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: inherit;
  font-weight: bold;
}

.button:hover {
  color: #fff;
  background-color: #ff4000;
  border-color: #ff4000;
}

.filled-button {
  color: #2e2e2e;
  background-color: #fff;
  margin-right: 5px;
}

.outline-button {
  color: #fff;
  background-color: transparent;
}

.difference {
  padding: 30px 0;
  text-align: center;
}

.difference h2 {
  font-size: 32px;
}

.difference h3 {
  font-size: 24px;
}

.difference small {
  display: block;
  color: #60676f;
  font-size: 14px;
  margin-bottom: 20px;
}

.action-button {
  background-color: transparent;
  border-color: #ff4000;
  color: #ff4000;
}

.what-it-does {
  padding: 30px 0;
  text-align: center;
  background-color: #ffeee5;
}

.what-it-does h6 {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #ff4000;
  padding-left: 17px;
  font-size: 12px;
}

.what-it-does h6::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  height: 1px;
  width: 15px;
  background-color: #ff4000;
}

.what-it-does h2 {
  font-size: 32px;
  color: #3d464e;
}

.what-it-does .info-block img {
  max-width: 100%;
}

.what-it-does .info-block h3 {
  color: #3d464e;
  font-size: 24px;
}

.what-it-does .info-block p {
  color: #5b7183;
  font-size: 14px;
}

.learn-button {
  margin-top: 20px;
  background-color: #fff;
  color: #ff4000;
  border-color: #ff4000;
}
